cache/
data/AIO
data/strava/strava_route_sample.geojson
data/strava/strava_routes_sumava_merged.geojson
data/strava/trail_network.gpkg
data/AIO/sumava_aoi.gpkg
data/.strava_token.json

*.csv
*.shp
*.gpkg

config/.strava_token.json
preprocessing/strava_api.py
__pycache__/
maps/__pycache__
.DS_store
